<div class="container p-5">
    <div class="grid">
        <mat-nav-list>
            <mat-list-item *ngFor="let item of items">
                <a>{{item}}</a>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 mb-3 p-4 justify-content-center" *ngFor="let product of products">
            <app-mainteances-product-list-item [product]="products[0]" />
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <mat-paginator [length]="totalProducts" [pageSize]="pageSize" [pageIndex]="pageIndex"
                [pageSizeOptions]="limitOptions" (page)="onChangePage($event)" aria-label="Select page">
            </mat-paginator>
        </div>
    </div>
</div>